.card-container {
  width: 100%;
  max-width: 780px;
  border-radius: 6px;
  padding: 10px 30px 5px;
  text-align: center;
  background: var(--white-shade);
  box-shadow: 0 1px 4px #ccc;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
  max-height: 780px;
}

.title {
  font-weight: 600;
  font-size: 2rem;
}

.desc {
  font-size: 1.1rem;
}

.input-wrapper {
  height: 56px;
  width: 100%;
}

.short-url-wrapper {
  height: 40px;
  width: 100%;
  margin: 5px;
  position: relative;
}

.error-msg {
  color: var(--error-red);
}

.card-container > .short-url-wrapper > .on-copied-prompt {
  position: absolute;
  padding: 8px;
  margin-left: 10px;
  background-color: var(--blue-shade);
  font-weight: 600;
  color: var(--white-shade);
  border-radius: 2px;
  animation: cssAnimation 3s forwards;
}

@media screen and (max-width: 600px) {
  .card-container > .short-url-wrapper > .on-copied-prompt {
    margin-left: 3px;
  }
}

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
