.card-container {
  width: 100%;
  max-width: 758px;
  border-radius: 6px;
  padding: 10px 30px 5px;
  text-align: center;
  background: var(--white-shade);
  box-shadow: 0 1px 4px #ccc;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  overflow-x: hidden;
  max-height: 780px;
}

.title {
  font-weight: 600;
  font-size: 2rem;
}

.desc {
  font-size: 1.1rem;
}

.input-wrapper {
  height: 56px;
  width: 100%;
}

.short-url-wrapper {
  height: 40px;
  width: 100%;
  margin: 5px;
}

.error-msg {
  color: red;
}
