.card-container {
  width: 100%;
  max-width: 758px;
  border-radius: 6px;
  padding: 10px 30px 5px;
  text-align: center;
  background: #fff;
  box-shadow: 0 1px 4px #ccc;
  color: black;
  margin: auto;
}
